@if (navService.isMenuOpen()) {
<div class="navbar-container dropdown-mode">
    <div class="menu-simple-header">
        Opciones de Bodega
        <span class="close-x" (click)="navService.closeMenu()">×</span>
    </div>
    <ul class="menu-list-v2">
        <li class="menu-item-v2" routerLink="/despacho-lista" (click)="navService.closeMenu()">
            <span class="icon">📋</span> Mantenimiento de Órdenes
        </li>
        <li class="menu-item-v2" routerLink="/config-impresora" (click)="navService.closeMenu()">
            <span class="icon">🖨️</span> Configurar Impresora
        </li>
        <li class="menu-item-v2 divider"></li>
        <li class="menu-item-v2 logout" (click)="salir()">
            <span class="icon">🚪</span> Salir del Sistema
        </li>
    </ul>
</div>
<div class="menu-overlay" (click)="navService.closeMenu()"></div>
}
