<div class="header-container">
    <!-- BARRA TOP -->
    <header class="neu-header">
        <div class="segment menu-trigger" (click)="navService.toggleMenu()">
            <span class="icon">☰</span>
            <span class="label">Menu <span class="shortcut">(Shift + TAB)</span></span>
        </div>

        <div class="segment info-field">
            <span class="label">Cajero:</span>
            <span class="value">{{ cajero }}</span>
        </div>

        <div class="segment info-field">
            <span class="label">Empresa:</span>
            <span class="value">{{ empresa }}</span>
        </div>

        <div class="segment info-field hide-mobile">
            <span class="label">Sucursal:</span>
            <span class="value">{{ sucursal }}</span>
        </div>

        @if (environment && environment !== 'produccion') {
            <div class="segment info-field env-badge">
                <span class="value badge" [ngClass]="environment">{{ environment | uppercase }}</span>
            </div>
        }

        <div class="segment clock-container">
            <span class="time-value">🕒 {{ currentTime() }}</span>
        </div>

        <div class="segment shortcuts-revisor">
            <div class="shortcut-item">
                <span class="label">Agregar</span>
                <span class="keys">(F5)</span>
            </div>
            <div class="shortcut-item">
                <span class="label">Salir</span>
                <span class="keys">(ESC)</span>
            </div>
        </div>
    </header>
</div>
